.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 2rem 0;
}
.auth-form {
    background-color: #e0e0e0;
    width: 320px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 0 6px lightgray;
}
.flex-1 {
    flex: 1 1 0px;
}
.auth-header {
    text-align: center;
    margin: 10px 0;
}
.auth-form-content {
    display: flex;
    flex-direction: column;
}
.auth-links {
    text-align: center;
    margin-top: -8px;
}
