.round-button {
    border-radius: 50%;
    border-width: 1px;
    border-color: lightgray;
    background-color: rgb(213, 213, 213);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    font-weight: 700;
    font-size: large;
    width: 1.75em;
    height: 1.75em;
    padding-bottom: 0.2em;
    cursor: pointer;
}
